<% if false %>

<ul>
  <li>
    <p>
      <strong><%= comment.body %></strong><%= " - #{comment.commenter}" %>
              <%= link_to "[x]", [comment.article, comment],
                  method: :delete,
                  data: {confirm: "Confirm delete of comment?"} %>
    </p>
  </li>
</ul>

<% end %>

<div class="list-group">

  <div class="list-group-item comments-list d-flex">
    <h5 class="mb-1"><%= comment.body %></h5>
      <p><%= comment.commenter %></p>
                    <div><%= link_to "[x]", [comment.article, comment],
                  method: :delete,
                  data: {confirm: "Confirm delete of comment?"} %></div>
  </div>
</div>