<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <div class="mb-3 col-md-6">
    <%= form.label :commenter, class: "form-label" %><br>
    <%= form.text_field :commenter, class: "form-control" %>
  </div>
  <div class="mb-3 col-md-9">
    <%= form.label :body, class: "form-label" %><br>
    <%= form.text_area :body, class: "form-text" , rows: "2" %>
  </div>
  <p>
    <%= form.submit %>
  </p>
<% end %>