<div class="container show-container d-flex flex-column pt-6">
  <h1><%= @article.name %></h1>

  <p><%= @article.body %></p>

  <ul>
    <li><%= link_to "Edit Article", edit_article_path(@article) %></li>
      <li><%= link_to "Delete Article", article_path(@article),
                    method: :delete,
                    data: { confirm: "Are you sure you want to delete article titled '#{@article.name}'?" } %></li>
  </ul>

  <h2 class="text-right">Comments</h2>
  <%# <div class ="comments-render-list"> %>
    <%= render @article.comments%>
  <%# </div> %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>

  <% if false %>
  <p><%= link_to "Show All Articles", articles_path(@article) %></p>
  <% end %>

</div>